
<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fulscreen="">
  <form formGroupName="formLogin">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre de usuario</ion-label>
      <ion-input formControlName="nombre_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Correo electronico</ion-label>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-input formControlName="fecha_nacimiento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-input formControlName="genero"></ion-input>
    </ion-item>
  </form>
</ion-content>
